@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

h1 {
    position: relative;
}

h1::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 300px;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.btn {
    display: flex;
    justify-content: center;
}

input {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 40px 0px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    color: #929292;
    background-color: #fff;
}

input:hover {
    background-image: linear-gradient(0deg, #3abcf8 0%, #2b8eff 100%);
    color: #fff;
}

section {
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
}
=======
}
>>>>>>> jsv2
